<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sofn.sys.mapper.SysFileMapper">
    <resultMap id="customResultMap" type="com.sofn.sys.model.SysFile">
        <result column="ID" property="id"></result>
        <result column="FILE_NAME" property="fileName"></result>
        <result column="FILE_PATH" property="filePath"></result>
        <result column="FILE_SIZE" property="fileSize"></result>
        <result column="FILE_TYPE" property="fileType"></result>
        <result column="CREATE_USER_ID" property="createUserId"></result>
        <result column="ORG" property="org"></result>
        <result column="CREATE_TIME" property="createTime"></result>
    </resultMap>

    <select id="getSysFileByCondition" parameterType="java.util.Map" resultMap = "customResultMap">
        SELECT
        id,
        file_name,
        file_path,
        file_size,
        file_type,
        org,
        create_user_id,
        create_time
        from sys_files
        <where>
            <if test="fileName != null and fileName != ''">
                and file_name like '%' || #{fileName} || '%'
            </if>

            <if test="fileType != null and fileType != ''">
                and FILE_TYPE like '%' || #{fileType} || '%'
            </if>

            <if test="createUserId != null and createUserId != ''">
                and CREATE_USER_ID like '%' || #{createUserId} || '%'
            </if>

        </where>
        order by CREATE_TIME desc
    </select>

</mapper>